.app {
  position: relative;
  background-color: #1d2631;
  z-index: 1;

  @media #{$tablet-widths} {
    background-color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;

    @media #{$tablet-widths} {
      bottom: 1px;
      left: -20px;
      background: url("../img/iphone-hand-tablet@1x.png") left bottom no-repeat;
      width: 660px;
      height: 545px;
      background-size: 700px 545px;
    }

    @media #{$desktop-widths} {
      display: none;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/iphone-hand-mobile@2x.png") left bottom no-repeat;
      background-size: 258px 286px;
      bottom: 0;

      @media #{$tablet-widths} {
        background: url("../img/iphone-hand-tablet@2x.png") left bottom no-repeat;
        width: 660px;
        height: 545px;
        background-size: 700px 545px;
        bottom: 1px;
      }

      @media #{$desktop-widths} {
        display: none;
      }
    }
  }

  @media #{$desktop-widths} {
    margin-top: 110px;
    min-height: 743px;
    width: 940px;
    background: url("../img/iphone-hand-desktop@1x.png");
    background-position: 17px 97px;
    background-repeat: no-repeat;
    background-size: 1050px auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @media #{$desktop-widths} {
      background: url("../img/iphone-hand-desktop@2x.png");
      background-position: 17px 97px;
      background-repeat: no-repeat;
      background-size: 1050px auto;
    }
  }
}

.app__container {
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  z-index: 10;
  min-height: 272px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media #{$tablet-widths} {
    padding-top: 203px;
    min-width: 300px;
  }

  @media #{$desktop-widths} {
    padding-left: 0;
    padding-top: 107px;
    min-width: 300px;
    margin: 0;
  }
}

.app__slogan {
  display: none;
  margin: 0;
  font-size: 40px;

  @media #{$tablet-widths} {
    line-height: 48px;
    margin-bottom: 1px;
    display: block;
    padding: 0 50px;
    font-size: 40px;
    color: #ffffff;
    font-weight: 300;
  }

  @media #{$desktop-widths} {
    font-size: 50px;
    padding: 0 32px;
    line-height: 60px;
    margin-bottom: 23px;
  }
}

.app__download {
  margin-top: 29px;

  @media #{$tablet-widths} {
    margin-bottom: 13px;
  }

  @media #{$desktop-widths} {
    margin-bottom: 35px;
  }
}

.app__list {
  width: 263px;
  margin-top: 36px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media #{$tablet-widths} {
    margin-bottom: 32px;
  }

  @media #{$desktop-widths} {
    margin-bottom: 50px;
  }
}

.app__item {
  &:first-child {
    margin-left: 19px;

    @media #{$tablet-widths} {
      margin-left: 30px;
    }
  }

  &:last-child {
    margin-right: 3px;

    @media #{$tablet-widths} {
      margin-right: -5px;
    }
  }
}

.app__link {
  font-size: 0;
}

.app__description {
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
  margin: -2px 0 0;

  @media #{$tablet-widths} {
    font-size: 17px;
  }
}
