.contacts__container {
  @include container();
}

.contacts__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media #{$tablet-widths} {
    justify-content: space-around;
    margin-bottom: 3px;
  }

  @media #{$desktop-widths} {
    margin-bottom: -2px;
  }
}

.contacts__item {
  width: 250px;
  margin-bottom: 20px;

  &:nth-child(1) {
    @media #{$tablet-widths} {
      margin-left: 7px;
    }
  }

  &:nth-child(2) {
    @media #{$tablet-widths} {
      margin-right: 6px;
      line-height: 25px;
    }

    @media #{$desktop-widths} {
      order: 3;
    }
  }

  &:nth-child(3) {
    @media #{$tablet-widths} {
      margin-top: 21px;
      line-height: 28px;
    }

    @media #{$desktop-widths} {
      margin-top: -3px;
    }
  }
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  color: #283645;
  font-weight: 700;

  @media #{$tablet-widths} {
    font-size: 18px;
  }

  @media #{$desktop-widths} {
    margin-bottom: 23px;
  }

  &--small {
    @media #{$tablet-widths} {
      font-size: 18px;
    }
  }
}

.contacts__text {
  margin: 5px 0;
  font-size: 24px;
  color: #d22856;
  font-weight: 300;
}
