.contacts__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media #{$tablet-widths} {
    justify-content: space-around;
  }
}

.contacts__item {
  width: 250px;
  margin-bottom: 20px;

  &:nth-child(2) {
    @media #{$desktop-widths} {
      order: 3;
    }
  }
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  color: #283645;
  font-weight: 700;
}

.contacts__text {
  margin: 5px 0;
  font-size: 24px;
  color: #d22856;
  font-weight: 300;
}
