.feedback {
  position: relative;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 36px;

  @media #{$tablet-widths} {
    margin-bottom: 14px;
  }

  @media #{$desktop-widths} {
    padding: 161px 0 0;
    margin-bottom: 5px;

    &::before {
      position: absolute;
      top: 72px;
      left: 50%;
      transform: translateX(-50%);
      content: url("../img/icon-quotes.svg");
    }
  }
}

.feedback__container {
  @include container();
}

.feedback__list {
  padding: 0;
  list-style: none;
  color: #1d2631;
  font-size: 14px;
  line-height: 18px;
  margin-top: 28px;
  margin-bottom: 6px;

  @media #{$tablet-widths} {
    margin-top: 16px;
  }
}

.feedback__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &--active {
    display: block;
  }
}

.feedback__name {
  margin: 10px 0;
  padding: 0 20px;
  font-weight: 700;
  order: -1;
  font-size: 18px;

  @media #{$tablet-widths} {
    order: 0;
    font-size: 20px;
    margin-bottom: 14px;
  }

  @media #{$desktop-widths} {
    font-size: 24px;
  }
}

.feedback__message {
  margin: 0 0 10px;
  padding: 10px 20px;
  line-height: 30px;
  width: 280px;

  @media #{$tablet-widths} {
    font-size: 18px;
    margin-bottom: 22px;
    width: 620px;
  }

  @media #{$desktop-widths} {
    width: 780px;
    padding: 7px 80px;
  }
}

.feedback__user-info {
  display: none;
  margin: 0;

  @media #{$tablet-widths} {
    margin-bottom: 28px;
    display: block;
  }

  @media #{$desktop-widths} {
    font-size: 18px;
  }
}

.feedback__button {
  position: absolute;
  display: none;

  @media #{$desktop-widths} {
    display: inline-block;
    border: none;
    width: 22px;
    height: 41px;
    font-size: 0;

    &--prev {
      background: url("../img/icon-review-arrow-left.svg");
      left: 10px;
      top: 33px;
    }

    &--next {
      background: url("../img/icon-review-arrow-right.svg");
      right: 10px;
      top: 33px;
    }
  }
}
