.form {
  display: flex;
  flex-direction: column;
  color: #283645;

  @media #{$desktop-widths} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0 20px 45px;
  display: flex;
  flex-direction: column;

  &--white {
    background-color: #ffffff;
  }

  &--border {
    @media #{$tablet-widths} {
      border: 2px solid #e5e5e5;
    }
  }

  &--half-width {
    @media #{$desktop-widths} {
      width: 430px;
    }
  }

  &--grey {
    background-color: $bg-color;

    @media #{$tablet-widths} {
      background-color: #ffffff;
    }
  }

  &:nth-child(1) {
    @media #{$desktop-widths} {
      order: -2;
      margin-right: 0;
    }
  }

  &:nth-child(4) {
    @media #{$desktop-widths} {
      order: -1;
      margin-left: 0;
      padding: 0;
      padding-left: 75px;
      max-width: 355px;
    }
  }

  &:nth-child(2) {
    @media #{$desktop-widths} {
      width: 100%;
      padding-right: 0;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &:nth-child(3) {
    @media #{$desktop-widths} {
      width: 100%;
    }
  }

  &:nth-child(5) {
    @media #{$desktop-widths} {
      width: 100%;
    }
  }

  @media #{$desktop-widths} {
    margin: 0 130px 50px;
  }
}

.form__box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$tablet-widths} {
    flex-direction: row;
    margin-bottom: 50px;
    align-items: center;
  }
}

.form__wrapper {
  @media #{$tablet-widths} {
    padding: 40px 60px;
  }
}

.form__label {
  padding-left: 23px;

  &--center {
    padding-left: 0;
    text-align: center;
  }

  &--red {
    text-transform: uppercase;
    color: #d22856;
  }

  &--black {
    color: #283645;
  }

  &--small {
    margin: 15px 0 10px;
    font-size: 14px;
  }

  &--big {
    margin: 30px 0;
    font-size: 18px;
    width: 260px;
  }

  &--padding-left {
    padding-left: 23px;
  }

  @media #{$tablet-widths} {
    padding-left: 0;
  }
}

.form__input {
  &--text {
    min-width: 276px;
    width: 100%;
    height: 63px;
    border: 2px solid #e5e5e5;

    @media #{$tablet-widths} {
      margin: 0 auto;
    }
  }

  &--user {
    @media #{$tablet-widths} {
      width: auto;
      margin-left: 20px;
      flex-grow: 1;
    }
  }

  &--checkbox {
    width: 15px;
    height: 15px;
  }

  &--radio {
    width: 15px;
    height: 15px;
  }

  &--textarea {
    width: 100%;
    min-height: 200px;
    border: 2px solid #e5e5e5;
    resize: none;

    @media #{$tablet-widths} {
      margin: 0 auto;
    }

    @media #{$desktop-widths} {
      margin: 0 auto;
    }
  }
}

.form__text {
  text-align: center;
  text-transform: uppercase;
  color: #d22856;

  @media #{$tablet-widths} {
    white-space: nowrap;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    background: #ffffff;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
  }
}

.form__send {
  margin: 0 auto;

  @media #{$desktop-widths} {
    margin-left: 20px;
  }
}
