.intro {
  width: 100%;
  min-width: 320px;
  position: relative;

  @media #{$tablet-widths} {
    display: flex;
    background: url("../img/bg-back-tablet@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1200px auto;
  }

  @media #{$desktop-widths} {
    min-height: 853px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    background: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 2650px auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @media #{$tablet-widths} {
      background: url("../img/bg-back-tablet@2x.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: 1200px auto;
    }

    @media #{$desktop-widths} {
      background: url("../img/bg-back-desktop@2x.jpg");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 2650px auto;
    }
  }

  &--short {
    @media #{$desktop-widths} {
      min-height: 394px;
    }
  }
}
