.options {
  padding: 0;
  list-style: none;
}

.options__item {
  border-bottom: 2px solid #e5e5e5;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 59px;

  &:last-child {
    border-bottom: none;
  }

  @media #{$tablet-widths} {
    min-height: 44px;
    justify-content: flex-start;
  }

  @media #{$desktop-widths} {
    min-height: 59px;
  }
}

.options__name {
  text-transform: uppercase;
  color: #283645;
  font-size: 14px;
  margin-left: 22px;

  @media #{$tablet-widths} {
    display: none;
  }

  &--lower-case {
    @media #{$tablet-widths} {
      text-align: left;
      text-transform: none;
      display: block;
      margin-left: 15px;
    }
  }

  @media #{$desktop-widths} {
    margin-left: 20px;
    font-size: 18px;
  }
}

.options__img {
  margin-right: 20px;

  @media #{$tablet-widths} {
    margin-right: auto;
    margin-left: auto;
  }
}
