.page-header {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  background-color: #283645;

  &--transparent {
    background-color: rgba(0, 0, 0, 0.3);
  }

  @media #{$desktop-widths} {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__container {
  min-height: 70px;
  z-index: 10;

  @media #{$desktop-widths} {
    display: flex;
    width: 940px;
    margin: 0 auto;
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  padding: 21px 20px 23px;

  @media #{$tablet-widths} {
    padding: 27px 20px 43px;
  }

  @media #{$desktop-widths} {
    margin: 0;
    padding-left: 0;
    min-width: 0;
    background-color: transparent;
    border: none;
    width: auto;
  }
}

.page-header__logo {
  display: block;
  margin-right: auto;
  width: 74px;
  height: 23px;

  @media #{$tablet-widths} {
    width: 146px;
    height: 40px;
  }
}

.page-header__button {
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent;
  line-height: 0;

  @media #{$tablet-widths} {
    padding-top: 17px;
  }

  @media #{$desktop-widths} {
    display: none;
  }
}
