.page-header {
  width: 100%;
  background-color: #283645;
}

.page-header__container {
  min-height: 70px;
  z-index: 10;

  @media #{$desktop-widths} {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  padding-top: 21px;
  padding-bottom: 23px;
  background-color: #283645;

  @media #{$tablet-widths} {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media #{$desktop-widths} {
    margin: 0;
    min-width: 0;
    background-color: transparent;
    border: none;
  }
}

.page-header__logo {
  display: block;
  margin-right: auto;
  width: 74px;
  height: 23px;

  @media #{$tablet-widths} {
    width: 146px;
    height: 40px;
  }
}

.page-header__button {
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent;
  line-height: 0;

  @media #{$tablet-widths} {
    padding-top: 17px;
  }

  @media #{$desktop-widths} {
    display: none;
  }
}
