.page-main {
  width: 100%;
  display: block;
  overflow-x: hidden;

  &--padding-top {
    padding-top: 322px;

    @media #{$desktop-widths} {
      padding-top: 0;
    }
  }
}

.page-main__slogan {
  text-align: center;
  margin: 0;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding: 0 20px;
  padding-top: 33px;

  @media #{$tablet-widths} {
    letter-spacing: 1px;
    padding: 0 30px;
    line-height: 61px;
    font-size: 48px;
    padding-top: 111px;
  }

  @media #{$desktop-widths} {
    padding: 172px 30px 0;
  }

  &--desktop-padding {
    @media #{$desktop-widths} {
      padding-right: 150px;
      padding-left: 150px;
    }
  }
}

.page-main__title {
  margin: 46px 0 4px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  padding: 0 20px;

  br {
    @media #{$tablet-widths} {
      display: none;
    }
  }

  mark {
    display: none;
    background-color: transparent;
    color: inherit;

    @media #{$tablet-widths} {
      display: inline-block;
    }
  }

  @media #{$tablet-widths} {
    margin: 92px 0;
    font-size: 18px;
    padding: 0 50px;
    margin-bottom: 45px;
  }

  @media #{$desktop-widths} {
    padding: 0 200px;
    margin-bottom: 50px;
  }

  &--big-padding {
    padding: 0 38px;

    @media #{$tablet-widths} {
      padding: 0 60px;
    }

    @media #{$desktop-widths} {
      padding: 0 280px;
    }
  }
}
