.page-popup {
  width: 320px;
  text-align: center;
  line-height: 24px;
  padding: 48px 0;
  margin: 0 auto;
  overflow-x: hidden;

  @media #{$tablet-widths} {
    width: 460px;
  }

  @media #{$desktop-widths} {
    width: 780px;
  }
}


.page-popup__text {
  padding: 0 10px;
}

.page-popup__button-box {
  background-color: $bg-color;
  padding: 48px 0;
  display: flex;
  justify-content: center;
}
