.photos {
  color: #283645;
  padding-top: 29px;

  @media #{$desktop-widths} {
    padding-top: 12px;
  }
}

.photos__list {
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  @media #{$tablet-widths} {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.photos__item {
  background-color: $bg-color;
  font-size: 14px;
  line-height: 24px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  padding-bottom: 9px;
  margin-bottom: 19px;

  @media #{$tablet-widths} {
    width: 300px;
    padding-bottom: 9px;

    @media #{$desktop-widths} {
      padding-bottom: 7px;
      margin-bottom: 54px;
    }
  }

  &:first-child {
    @media #{$tablet-widths} {
      width: 620px;
      padding-bottom: 27px;
      margin-bottom: 50px;
    }

    @media #{$desktop-widths} {
      width: 940px;
    }
  }

  &--panorama {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      content: "ПАНОРАМА ДНЯ";
      color: #fff;
      text-align: center;
      line-height: 36px;
      font-size: 12px;
      display: block;
      width: 140px;
      height: 36px;
      background-color: #d22856;

      @media #{$tablet-widths} {
        top: 59px;
      }

      @media #{$desktop-widths} {
        top: 54px;
      }
    }

    @media #{$tablet-widths} {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.photos__link {
  margin-bottom: 13px;
}

.photos__img {
  display: block;
  width: 280px;
  height: auto;

  @media #{$tablet-widths} {
    width: 300px;
  }

  &--panorama {
    width: auto;
    margin-left: -20px;

    @media #{$tablet-widths} {
      width: 660px;
      height: 510px;
    }

    @media #{$desktop-widths} {
      margin-left: -130px;
      width: 1200px;
      height: 506px;
    }
  }
}

.photos__comment {
  padding: 0 18px;
  margin-bottom: -2px;

  @media #{$tablet-widths} {
    margin-top: -14px;
    margin-bottom: 2px;
    padding-left: 28px;
  }

  &--panorama {
    @media #{$tablet-widths} {
      order: 2;
      margin-top: -13px;
      margin-bottom: -2px;
    }
  }

  &--big-margin-bottom {
    @media #{$tablet-widths} {
      margin-bottom: 28px;
    }
  }
}

.photos__user-info {
  display: flex;
  padding: 0 18px;
  margin: 5px 0;
  margin-bottom: -15px;

  @media #{$tablet-widths} {
    padding-left: 28px;
    margin: 12px 0;
  }
}

.photos__user-name {
  margin: 0;
}

.photos__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 1px 2px 0;
}

.photos__social {
  margin-top: auto;
  display: flex;
  padding: 0 18px;

  @media #{$tablet-widths} {
    margin-left: 10px;
  }
}

.photos__like {
  margin-right: 19px;

  @media #{$tablet-widths} {
    margin-left: 17px;
    margin-right: 11px;
    order: 1;

    &--margin-left-auto {
      margin-left: auto;
    }
  }
}

.photos__count {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}
