.preview {
  width: 100%;
  min-height: 398px;
  z-index: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  background: url("../img/bg-back-mobile@1x.jpg") center top no-repeat;
  background-size: cover;

  @media #{$tablet-widths} {
    background: transparent;
    order: 2;
    min-height: 730px;
  }

  @media #{$desktop-widths} {
    min-height: 853px;
  }

  &--short {
    height: 0; //for align-items: center on IE11
    min-height: 235px;

    @media #{$tablet-widths} {
      min-height: 439px;
    }

    @media #{$desktop-widths} {
      min-height: 394px;
      padding: 0 130px;
    }
  }

  &--bg {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 258px;
      height: 286px;
      background: url("../img/iphone-hand-mobile@1x.png") left bottom no-repeat;
      background-size: 258px 286px;

      @media #{$tablet-widths} {
        display: none;
      }
    }
  }
}
