.preview {
  width: 100%;
  min-height: 462px;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$tablet-widths} {
    order: 2;
    min-height: 730px;
  }

  @media #{$desktop-widths} {
    min-height: 853px;
  }

  &--short {
    height: 0; //for align-items: center on IE11
    min-height: 235px;

    @media #{$tablet-widths} {
      min-height: 439px;
    }

    @media #{$desktop-widths} {
      min-height: 394px;
      padding: 0 130px;
    }
  }
}
