.reference {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$tablet-widths} {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.reference--index {
  display: none;

  @media #{$tablet-widths} {
    display: flex;
  }
}
