.subscribe {
  padding-top: 26px;
  background-color: $bg-color;

  @media #{$tablet-widths} {
    padding-bottom: 24px;
  }
}

.subscribe__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.subscribe__item {
  border: 2px solid #e5e5e5;
  min-width: 280px;

  &:nth-child(1) {
    border-right: none;
    display: none;

    @media #{$tablet-widths} {
      display: block;
    }
  }

  &:nth-child(2) {
    border-right: none;
  }

  &:nth-child(3) {
    border-right: none;
  }

  @media #{$tablet-widths} {
    min-width: 0;
    width: 154px;
  }

  @media #{$desktop-widths} {
    width: 235px;
  }
}

.subscribe__header {
  padding: 24px 0;
  background-color: #283645;
  color: white;
  text-align: center;
}

.subscribe__title {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
}

.subscribe__cost {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
}

.subscribe__toggles {
  text-align: center;

  @media #{$tablet-widths} {
    display: none;
  }

  @media #{$desktop-widths} {
    display: none;
  }
}
