.subscribe {
  position: relative;
  padding-top: 88px;
  padding-bottom: 41px;
  background-color: $bg-color;
  overflow-x: hidden;

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    top: -28px;
    left: -35px;
    height: 0;
    width: 0;
    border: 25px solid transparent;
    border-right: 334px solid #f2f2f2;
    border-bottom: 57px solid #f2f2f2;

    @media #{$tablet-widths} {
      top: -52px;
      left: -35px;
      border: 53px solid transparent;
      border-right: 674px solid #f2f2f2;
    }

    @media #{$desktop-widths} {
      top: -82px;
      left: -154px;
      border: 87px solid transparent;
      border-right: 1282px solid #f2f2f2;
    }
  }

  @media #{$tablet-widths} {
    padding-top: 64px;
    padding-bottom: 36px;
  }

  @media #{$desktop-widths} {
    padding-top: 65px;
    padding-bottom: 61px;
  }
}

.subscribe__container {
  @include container();
}

.subscribe__list {
  margin: 0 auto;
  margin-bottom: 34px;
  margin-left: -258px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;

  @media #{$tablet-widths} {
    margin-left: 20px;
  }

  @media #{$desktop-widths} {
    margin-left: 130px;
  }
}

.subscribe__item {
  border: 2px solid #e5e5e5;
  min-width: 276px;

  &:nth-child(1) {
    border-right: none;
    display: none;

    @media #{$tablet-widths} {
      display: block;
    }
  }

  &:nth-child(2) {
    border-right: none;
  }

  &:nth-child(3) {
    border-right: none;
  }

  @media #{$tablet-widths} {
    min-width: 0;
    width: 153px;
  }

  @media #{$desktop-widths} {
    width: 233px;
  }
}

.subscribe__header {
  position: relative;
  padding: 22px 0;
  background-color: #283645;
  color: white;
  text-align: center;

  @media #{$tablet-widths} {
    padding: 18px 0;
  }

  @media #{$desktop-widths} {
    padding: 22px 0;
  }

  &--hit {
    &::before {
      content: url("../img/bg-hit.svg");
      position: absolute;
      top: 0;
      left: 0;

      @media #{$tablet-widths} {
        content: url("../img/bg-hit-tablet.svg");
      }

      @media #{$desktop-widths} {
        content: url("../img/bg-hit.svg");
      }
    }

    &::after {
      content: "ХИТ";
      position: absolute;
      top: 17px;
      left: 7px;
      transform: rotate(-50grad);
      color: white;
      font-size: 16px;

      @media #{$tablet-widths} {
        top: 10px;
        left: 7px;
        font-size: 14px;
      }

      @media #{$desktop-widths} {
        top: 17px;
        left: 11px;
      }
    }
  }
}

.subscribe__title {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;

  @media #{$tablet-widths} {
    font-size: 15px;
  }

  @media #{$desktop-widths} {
    font-size: 18px;
  }
}

.subscribe__cost {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
  padding-top: 7px;

  @media #{$tablet-widths} {
    font-size: 18px;
  }

  @media #{$desktop-widths} {
    font-size: 24px;
  }
}

.subscribe__toggles {
  text-align: center;

  @media #{$tablet-widths} {
    display: none;
  }

  @media #{$desktop-widths} {
    display: none;
  }
}
