.tools {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;

  @media #{$tablet-widths} {
    margin: 0;
    width: 275px;
    align-items: flex-start;
    padding-top: 5px;
  }

  @media #{$desktop-widths} {
    width: 410px;
    padding-top: 0;
  }
}

.tools__btn {
  width: 50px;
  border: none;
  padding: 0;
  background-color: transparent;
  line-height: 0;

  &:nth-child(1) {
    margin-left: 14px;
  }

  &:nth-child(5) {
    margin-right: 21px;
  }

  @media #{$tablet-widths} {
    margin-top: 3px;

    &:nth-child(1) {
      margin-left: 0;
    }

    &:nth-child(5) {
      margin-right: 0;
    }
  }

  @media #{$desktop-widths} {
    margin-right: 30px;

    &:nth-child(1) {
      margin-top: -6px;
      margin-right: 30px;
    }

    &:nth-child(3) {
      margin-top: -56px;
      margin-left: 3px;
    }

    &:nth-child(5) {
      margin-top: -69px;
      margin-left: 8px;
    }
  }
}

.tools__toggle {
  @media #{$tablet-widths} {
    width: 26px;
    height: auto;
    padding-right: 20px;

    &--small {
      padding-top: 6px;
      width: 18px;
      height: auto;
    }
  }

  @media #{$desktop-widths} {
    width: 50px;
    height: auto;

    &--small {
      width: 34px;
      height: auto;
    }
  }
}
